@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap%27');
:root {
    --primary: #E55855;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #EDEDE8;
}

#boostrap-override .nav-link {
    color: var(--primary);
}

.dropdown-menu[data-bs-popper] {
    left: -7rem;
}

.borderForm {
    border: solid 2px black;
}
