@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap%27');
:root {
    --primary: #E55855;
}

body {
    font-family: 'Osvald', sans-serif;
    background-color: #EDEDE8;
}