{% extends 'layout.html.twig' %}
{% block content %}
<form class="d-flex justify-content-center p-5 mt-5" method="POST">
            <div class="border border-2 rounded bg-light p-3 col-12 col-sm-10 col-md-8 col-lg-4 d-flex flex-column justify-content-center">
                <p><i class="fas fa-user-plus fa-3x d-flex justify-content-center"></i></p>
                <h2 class="d-flex justify-content-center">Inscription</h2>
                {% if errors|length >= 1 %}
                <div class="alert alert-danger" role="alert">
                    {% for error in errors %}
                        {{ error }} <br>
                    {% endfor %}
                </div>
                {% endif %}
            <div class="m-2">
                <label for="firstname" class="form-label">Prénom</label>
                <input type="text" name="firstname" class="form-control" id="firstname" aria-describedby="emailHelp">
                <div id="firstnameHelp" class="form-text"></div>
            </div>
            <div class="m-2">
                <label for="lastname" class="form-label">Nom</label>
                <input type="text" name="lastname" class="form-control" id="lastname" aria-describedby="emailHelp">
                <div id="lastnameHelp" class="form-text"></div>
            </div>
            <div class="m-2">
                <label for="InputEmail1" class="form-label">Adresse Mail</label>
                <input type="email" name="InputEmail1" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="m-2">
                <label for="InputPassword1" class="form-label">Mot de passe</label>
                <input type="password" name="InputPassword1" class="form-control" id="InputPassword1">
            </div>
            <div class="text-center"><button type="submit" class="btn mt-4">S'inscrire</button></div>
            </div>
        </form>
    <div class="text-center mb-5"><a href="/..">Déjà un compte? Se connecter</a></div>
{% endblock %}
