{% extends 'layout.html.twig' %}
{% block content %}
    <form class="d-flex justify-content-center p-5 mt-5" method="post">
        <div class="formco border border-2 rounded bg-light p-3 col-12 col-sm-10 col-md-8 col-lg-4 d-flex flex-column justify-content-center">
            <p><i class="fas fa-user-circle fa-5x d-flex justify-content-center"></i></p>
            <h2 class="d-flex justify-content-center">Connexion</h2>
            {% if error|length > 0 %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}
            <div class="m-2">
                <label for="mail" class="form-label">Adresse Mail</label>
                <input type="email" name="mail" class="form-control" id="mail" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="m-2">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <div class="text-center"><button type="submit" class="btn mt-4">Se connecter</button></div>
        </div>
    </form>
    <div class="text-center"><a href="/inscription" class="nav-link text-light" >Créer un compte</a></div>
{% endblock %}