{% extends 'layout.html.twig' %}

{% block content %}
<div id="background-image-profil">
<div class="card m-4" style="width: 22rem;">
    <div class="card-header">Les entreprises où j'ai des contacts :</div>
    <form method="post">
    <ul class="list-group list-group-flush">
        {% for company in recommendating_companies %}
            <li class="list-group-item d-grid gap-2 d-md-flex justify-content-between border-bottom" style="border-width: inherit">
                <div class="d-flex align-items-center">
                    <h5>{{ company.name }}</h5>
                </div>
                <div>
                    <div class="text-center"><button type="submit" class="btn btn-outline-danger btn-sm p-0"><a href="/supprimer?id={{ company.id }}" class="nav-link"><i class="far fa-trash-alt"></i></a></button></div>
                </div>
            </li>
        {% endfor %}
    </ul>
    </form>
</div>
</div>
{% endblock %}