<div class="py-3 bg-light footer">
    <ul class="d-flex justify-content-around border-bottom pb-3 mb-3">
        <li class="nav-link"><a href="/cgu" class="nav-link px-2 text-muted">CGU</a></li>
        <li class="nav-link"><a href="/accueil" class="nav-link px-2 text-muted">Accueil</a></li>
        <li class="nav-link"><a href="/profil" class="nav-link px-2 text-muted">Profil</a></li>
    </ul>
    <p class="text-center text-muted">© 2021 Ideal Job, Inc</p>
</div>
