<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/Idealjob.png" class="img-fluid rounded" id="logo" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-2 justify-content-between">
                <li class="nav-item">
                    <a class="nav-link active fs-4" aria-current="page" href="/accueil">Accueil</a>
                </li>
            </ul>
            <div class="fs-5">
                {% if (session.user.profil_github) %}
                    <img class="github-avatar m-2"
                         src="https://avatars.githubusercontent.com/{{ session.user.profil_github }}" alt="avatar"
                         id="avatar">
                    {{ session.user.firstname }}
                {% elseif session.user %}
                    <i class="fab fa-github fa-3x"></i>
                {% endif %}
            </div>
            <ul class="navbar-nav mb-2 mb-lg-0 d-none d-sm-block">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                    <ul class="dropdown-menu col-2 fs-4" aria-labelledby="navbarDropdown">
                        {% if session.user %}
                            <li><a class="dropdown-item" href="/profil">Mon compte</a></li>
                            {% if session.user.is_admin %}
                                <li><a href="/admin" class="dropdown-item">Administration</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="logout">Déconnexion</a></li>
                        {% else %}
                            <a class="dropdown-item" href="/">Connectez-vous</a>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
