<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" ><i class="far fa-trash-alt"></i></button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Voulez-vous vraiment supprimer cette entreprise?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> <a class="text-decoration-none text-light" href="/supprimer?id={{ company.id }}">Confirmer</a></button>
            </div>
        </div>
    </div>
</div>